.container {
  padding: 84px 0px;
  display: flex;
  flex-direction: column;
}

.pager {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.searched {
  margin: auto;
  padding: 12px;

  &_label {
    background-color: var(--main-color);
    padding: 12px;
    margin: 4px;
  }
}

.btn {
  margin: 24px;
  padding: 12px;
  width: 256px;
  border-radius: 12px;
  border: 1px var(--sec-color) solid;
  text-align: center;
  cursor: pointer;
  font-weight: 600;
}

@media screen and (max-width: 640px) {
  .container {
    padding: 84px 0px 12px;
  }

  .searched {
    padding: 16px;

    &_label {
      background-color: var(--main-color);
      padding: 12px;
      margin: 4px;
    }
  }
}
