.post {
  padding: 48px 64px;
  margin: auto;
  max-width: 760px;

  // for blog ---------------
  hr {
    display: none;
  }

  h1,
  h2,
  h3,
  h4,
  p {
    margin: 24px 48px;
  }

  h2 {
    display: inline;
    background: linear-gradient(transparent 80%, var(--main-color) 0%);
  }

  h3::before {
    color: var(--main-color);
    content: 'â—';
  }

  p {
    line-height: 2em;
    vertical-align: baseline;
    font-weight: 300;
  }

  ul {
    font-weight: 300;
    margin: 24px 48px;
  }

  strong {
    background: linear-gradient(transparent 70%, var(--main-color) 0%);
  }

  pre {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
      0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    font-size: 0.9rem;
    margin-bottom: 36px;
  }

  p > code {
    background-color: #e1fff8;
    padding: 4px;
  }

  img {
    margin: auto;
    width: 80%;
  }

  blockquote {
    padding: 12px 6px;
    border-left: 4px rgba(0, 255, 196, 1) solid;
    background-color: #e1fff8;
  }

  a {
    color: var(--sec-color);
    word-break: break-all;
    text-decoration: underline;
    text-decoration-color: var(--main-color);
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
  }

  // ------------------------

  &_header {
    display: flex;
    justify-content: center;
    min-height: 70vh;

    &_title {
      display: inline;
      background: linear-gradient(transparent 80%, var(--main-color) 0%);
    }

    &_desc {
      padding: 12px 30% 12px 0px;
      line-height: 1.5em;
    }

    &_info {
      display: flex;
      justify-content: center;
      flex-direction: column;
      max-width: 480px;
      width: 50%;
      padding: 0px 64px;
    }

    &_media {
      max-width: 480px;
      width: 50%;
      background-size: cover;
      z-index: 10;
      background-color: rgba(0, 255, 196, 1);
      transition: all ease 1s;
      background-position: bottom;
    }

    &_date {
      font-size: 0.8rem;
    }

    &_tags {
      font-size: 0.8rem;
      position: absolute;
      padding: 8px;
      top: -40px;
      background-color: var(--main-color);
      display: block;
    }
  }
}

.footer {
  padding: 36px 36px;
  margin: 64px auto 0px;
  display: flex;
  justify-content: space-between;
  border-top: 1px var(--sec-color) solid;

  &_tags {
    display: flex;
  }

  &_tag {
    background-color: rgba(0, 255, 196, 0.5);
    margin-right: 8px;
    padding: 12px;
    font-size: 0.8rem;
  }
}

.sns {
  width: 36px;
  height: 36px;
  cursor: pointer;
}

.more {
  display: flex;
  justify-content: center;
}

.section_title {
  display: inline-block;
  padding: 0 12px;
  background: linear-gradient(transparent 70%, var(--main-color) 0%);
  font-size: 1.2rem;
}

@media screen and (max-width: 640px) {
  .post {
    padding: 36px 0px;

    h1,
    h2,
    h3,
    h4,
    p {
      margin: 32px 16px;
    }

    h2 {
      font-size: 1.1rem;
    }

    img {
      width: 100%;
    }

    p {
      font-size: 0.9rem;
    }

    ul {
      margin: 0px;
    }

    pre {
      font-size: 0.74rem;
      border-radius: 0px;
      box-shadow: none;
    }

    blockquote {
      margin: 12px 12px;
    }

    &_header {
      display: inherit;
      flex-direction: none;
      justify-content: none;
      min-height: 70vh;
      width: 100%;
      position: relative;

      &_title {
        font-size: 1.1rem;
      }

      &_desc {
        padding: 8px 0% 8px 0px;
        font-size: 0.9rem;
      }

      &_info {
        padding: 32px 8px 18px;
        position: absolute;
        bottom: 64px;
        left: 0;
        width: 80%;
        z-index: 100;
        background-color: white;
      }

      &_media {
        position: relative;
        height: 70vh;
        width: 100%;
        z-index: 10;
      }

      &_date {
        margin: 12px 0px 0px;
        font-size: 0.9rem;
      }
    }
  }

  .footer {
    width: 80%;
    padding: 16px 8px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    border-top: 1px var(--sec-color) solid;

    &_tags {
      display: flex;
    }

    &_tag {
      background-color: rgba(0, 255, 196, 0.5);
      margin-right: 8px;
      padding: 12px;
      font-size: 0.8rem;
    }
  }
}
